<nav class="navbar navbar-expand-lg bg-primary-subtle">
    <div class="container-fluid">

        <a class="navbar-brand fs-5 fw-bold text-success" href="#">Name Empresa INC </a>

        <!-- Buttton pal Renponsive Se activa cuando es menos a SM Brackpoint -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" *ngFor="let item of linksItems">
                    <a class="nav-link active fs-5 container-fluid d-flex align-items-center" [routerLink]="item.router" aria-current="page"
                    
                        href="#">{{item.name}}
                        <span class="material-symbols-outlined">{{item.icon}}</span>
                    </a>

                </li>

                <!-- Menu Despegable en este caso para el carrito de compras -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Cart Shop</a>

                    <div class="dropdown-menu container text-center">
                        <p>Aquí a futuro debo colocar un componente pal carrito de compras</p>
                    </div>
                </li>
            </ul>

            <!-- Menu de Busqueda no tiene funcionalidad aun -->
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>